<nav class="navbar navbar-expand-md navbar-light bg-nav ">
  <div class="container-fluid">
  <a class="navbar-brand" routerLink="users">
    <img src="../../../assets/logo-1.png" class="" style="width: 150px; height: auto;" alt="">
  </a>
  <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link color-navItem" routerLink="users" >Users</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link  color-navItem" routerLink="cars" >Cars</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link color-navItem" routerLink="rentals"  >Rentals</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
      <li class="nav-item me-3" >
        <a class="nav-link btn-color" (click)="logout()" >Logout </a>
      </li>
    </ul>
  </div>
</div>
</nav>

<section class="container my-4">
  <router-outlet></router-outlet>
</section>

<app-footer></app-footer>
