<section class="p-4 bg-white rounded">
  <form action="" [formGroup]="changePassForm" (ngSubmit)="changePass(changePassForm)">
    <div class="form-floating mb-3">
      <input type="password"  class="form-control" formControlName="currentPassword" [ngClass]="{
    'is-valid': !changePassForm.get('currentPassword')?.errors && changePassForm.get('currentPassword')?.dirty,
    'is-invalid': changePassForm.get('currentPassword')?.errors && changePassForm.get('currentPassword')?.dirty
  }">
      <label class="activeL color-main">Current Password </label>
      <ul class="list-unstyled alert alert-danger p-2 invalid-feedback">
        <li *ngIf="changePassForm.get('currentPassword')?.getError('required')">Current password is required</li>
        <li *ngIf="changePassForm.get('currentPassword')?.getError('pattern')">Current password must start with upperCase and many
          numbers</li>
      </ul>
    </div>

    <div class="form-floating mb-3">
      <input type="password" placeholder="Enter a driving license" class="form-control"
        formControlName="newPassword" [ngClass]="{
    'is-valid': !changePassForm.get('newPassword')?.errors && changePassForm.get('newPassword')?.dirty,
    'is-invalid': changePassForm.get('newPassword')?.errors && changePassForm.get('newPassword')?.dirty
  }">
      <label class="activeL color-main">New Password </label>
      <ul class="list-unstyled alert alert-danger p-2 invalid-feedback">
        <li *ngIf="changePassForm.get('newPassword')?.getError('required')">New password is required</li>
        <li *ngIf="changePassForm.get('newPassword')?.getError('pattern')">New password must start with upperCase and
          many numbers</li>

      </ul>
    </div>
    <div class="form-floating mb-3">
      <input type="password" placeholder="Enter a driving license" class="form-control"
        formControlName="confirmNewPassword" [ngClass]="{
    'is-valid': !changePassForm.get('confirmNewPassword')?.errors && changePassForm.get('confirmNewPassword')?.dirty,
    'is-invalid': changePassForm.get('confirmNewPassword')?.errors && changePassForm.get('confirmNewPassword')?.dirty
  }">
      <label class="activeL color-main">Confirm new password </label>
      <ul class="list-unstyled alert alert-danger p-2 invalid-feedback">
        <li *ngIf="changePassForm.get('confirmNewPassword')?.getError('required')">Confirm new password is required</li>
        <li *ngIf="changePassForm.get('confirmNewPassword')?.getError('pattern')">Confirm new password must start with upperCase and
          many numbers</li>
        <li *ngIf="changePassForm.get('confirmNewPassword')?.getError('PasswordMatched')">Confirm Password does not match new password</li>
      </ul>
    </div>
    <div class="hstack justify-content-center ">
      <button type="submit" class="btn-color w-50 text-center ">Change password</button>
    </div>
  </form>
</section>
