
<div class="container">
  <h1 class=" h1styl display-4 color-sec my-3 text-uppercase text-center mb-5">Find Your Car</h1>
  <div>
    <input [(ngModel)]="search" type="text" placeholder="choose your location..." class="form-control w-75 mx-auto my-4" style="color: #b81a49 !important; border:#35296d 2px solid;" >
  </div>
  <div class="row my-4">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-4" [routerLink]="['/cardetails',item.id]" *ngFor="let item of cars|search:search" >
      <div class="rent-item mb-4" >
        <figure style="height: 150px;">
          <img class="img-fluid mb-4 h-100" [src]="item.carImageURL"  alt="">
        </figure>

        <h4 class="text-uppercase mb-4">{{item.brand}} {{item.model}}</h4>
        <div class="d-flex justify-content-center mb-4 me-2">
            <div class="px-2">
                <i class="fa fa-car  mr-1 me-2"></i>
                <span>{{item.year}}</span>
            </div>
            <div class="px-2 border-left border-right">
                <i class="fa fa-cogs  me-2"></i>
                <span *ngIf="item.trans_Type==0">Manual</span>
                <span *ngIf="item.trans_Type==1">Automatic</span>
            </div>
          </div>
          <div class="d-flex justify-content-center mb-4 me-2">
            <div class="px-2">
              <i class="fa fa-solid fa-chair me-2"></i>
                <span>{{item.seats}}</span>
            </div>
            <div class="px-2">
              <i class="fa fa-solid fa-location-dot me-2"></i>
                <span>{{item.carLocation}}</span>
            </div>
          </div>


        <a class="btn  px-3" >${{item.cost_Per_Day}}/Day</a>
    </div>



    </div>
  </div>
</div>









